body{
    letter-spacing: 2px;
}

.inerFrame {

}
a:hover{
    cursor: pointer;
}
.loginPanelHead{
    font-size: large;

}
.welcom{
    height: 80px;
    line-height: 80px;
    color: skyblue;
}


.myTopRow{
    border-bottom: 4px cornflowerblue solid;
    padding: 1%;
}
.myBottomRow{
    padding: 0.5%;
}
.myHomeLeft{
    border-right:4px cornflowerblue solid;
    height: 100%;
}
.myUl{
   list-style: none;
}
.myLi{
    height: 25px;
}

.redSpan {
    color: red;
}
/*无效样式
.col-md-4 #sysTitle{
    border: 1px solid red;
    font-weight: bold;
    font-size: 20px;
    color:deepskyblue;
}*/
.atitle{
    margin-bottom: 2%;
    margin-top: 2%;
}

/*个人信息管理样式*/
.infoTable {
    padding: 3%;
}

.personInfoTable > tbody > tr > td > input {
    border: none;
}

.salaryCount {
    margin: 3%;
}

/*个人信息管理样式结束*/

/*薪酬福利审核 ： salaryCheckManage.jsp*/
.TipInfo {
    color: red;
    padding: 1%;
}

/*薪酬福利审核 ： salaryCheckManage.jsp 结束*/